@font-face {
    font-family: Carnevalee Freakshow;
    src: url("/fonts/Carnevalee Freakshow.ttf") format("truetype");
    font-weight: normal;
}

.creature.texture1,
.creature.texture2,
.creature.texture3 {
    background-size: calc(16px * 8);
    position: relative;
}

.creature.texture1 { background-image: url("/images/back_paper1.png"); }
.creature.texture2 { background-image: url("/images/back_paper2.png"); }
.creature.texture3 { background-image: url("/images/back_paper3.png"); }

.creature {
    width: calc(16px * 8);
    height: calc(16px * 11);

    /*background: #d2b48c;*/
    /*border: 2px solid #7a5c3e;*/
    /*border-radius: 8px;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.creature.taunt {
    border-radius: 16px;
    background-color: rgba(0,0,0, 0.3);
    background-image: url("/images/back_paper_taunt.png");
    background-size: calc(16px * 8);
}

.creature .glass-frame {
    position: fixed;
    width: calc(16px * 9);
    height: calc(16px * 12);
    background-image: url("/images/glass_frame.png");
    background-size: calc(16px * 9);
}

.creature-image img {
    width:  calc(16px * 6);
    height: calc(16px * 8);
    border-radius: 50% / 60%;
    border: 3px ridge #333;

    object-fit: cover;
}

.stealth {
    position: fixed;
    width: calc(16px * 8);
    height: calc(16px * 11);
    background: radial-gradient(transparent 15%, rgba(34, 34, 34, 0.75), transparent);
}

.creature.taunt .creature-image {
    padding-bottom: 12px;
}

.creature .stat {
    position: absolute;

    /*background: #f0f0f0;*/
    /*border: 1px solid #333;*/

    /*width: 28px;*/
    /*height: 28px;*/

    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    /*font-weight: bold;*/
    font-family: Carnevalee Freakshow, serif;
    font-size: 40px;
    color: #fff;

    text-shadow:
            2px   2px 0 rgba(0,0,0, 0.75),
            0 2px 2px rgba(0,0,0, 1);
}

.creature .stat-buffed {
    color: #2ecc71 !important;
}

.creature .stat-damaged {
    color: #ff8e81 !important;
}

.creature .attack {
    left: 2px;
    bottom: 4px;
    background-image: url("/images/attack.png");
    background-size: 48px;
    background-repeat: no-repeat;

    padding-top: 4px;
    padding-left: 2px;
}

.creature .health {
    right: 2px;
    bottom: 6px;

    height: 52px;
    width: 44px;
    background-image: url("/images/blood.png");
    background-size: 44px;
    background-repeat: no-repeat;

    padding-top: 12px;
}

.creature .armor {
    right: 2px;
    bottom: 64px;
    background-image: url("/images/shield.png");
    background-size: 48px;
    background-repeat: no-repeat;

    padding-left: 2px;
}

.creature .insensate-icon {
    filter: contrast(1.2) hue-rotate(300deg);
    bottom: -10px;
    font-size: 28px;
}
