@font-face {
    font-family: Carnevalee Freakshow;
    src: url("public/fonts/Carnevalee Freakshow.ttf") format("truetype");
    font-weight: normal;
}

.creature {
    width: calc(16px * 8);
    height: calc(16px * 11);

    /*background: #d2b48c;*/
    /*border: 2px solid #7a5c3e;*/
    /*border-radius: 8px;*/
    background-image: url("public/images/back_paper.png");
    background-size: calc(16px * 8);
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    touch-action: none;
}

.creature.enemy {
    cursor: default;
}


.creature-image img {
    width:  calc(16px * 6);
    height: calc(16px * 8);
    border-radius: 50% / 60%;
    border: 3px ridge #333;
}

.stat {
    position: absolute;

    /*background: #f0f0f0;*/
    /*border: 1px solid #333;*/

    /*width: 28px;*/
    /*height: 28px;*/

    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    /*font-weight: bold;*/
    font-family: Carnevalee Freakshow, serif;
    font-size: 40px;
    color: #fff;

    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;

    /*-webkit-text-stroke: 2px #252525;*/
}

.attack {
    left: 2px;
    bottom: 4px;
    background-image: url("public/images/attack.png");
    background-size: 48px;
    background-repeat: no-repeat;

    padding-top: 4px;
    padding-left: 2px;
}

.health {
    right: 2px;
    bottom: 6px;

    height: 52px;
    width: 44px;
    background-image: url("public/images/blood.png");
    background-size: 44px;
    background-repeat: no-repeat;

    padding-top: 12px;
}

.armor {
    right: 2px;
    bottom: 64px;
    background-image: url("public/images/shield.png");
    background-size: 48px;
    background-repeat: no-repeat;

    padding-left: 2px;
}
