@font-face {
    font-family: Carnevalee Freakshow;
    src: url("/fonts/Carnevalee Freakshow.ttf") format("truetype");
    font-weight: normal;
}

.creature.texture1,
.creature.texture2,
.creature.texture3 {
    background-size: calc(16px * 8);
    position: relative;
}

.creature.texture1 { background-image: url("/images/back_paper1.png"); }
.creature.texture2 { background-image: url("/images/back_paper2.png"); }
.creature.texture3 { background-image: url("/images/back_paper3.png"); }

.creature {
    width: calc(16px * 8);
    height: calc(16px * 11);

    /*background: #d2b48c;*/
    /*border: 2px solid #7a5c3e;*/
    /*border-radius: 8px;*/

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter 0.3s, transform 0.3s;
}

.creature.taunt {
    border-radius: 16px;
    background-color: rgba(0,0,0, 0.3);
    background-image: url("/images/back_paper_taunt.png");
    background-size: calc(16px * 8);
}

.creature .glass-frame {
    position: fixed;
    width: calc(16px * 9);
    height: calc(16px * 12);
    background-image: url("/images/glass_frame.png");
    background-size: calc(16px * 9);
}

.creature-image img {
    width:  calc(16px * 6);
    height: calc(16px * 8);
    border-radius: 50% / 60%;
    border: 3px ridge #333;

    object-fit: cover;
}

.stealth {
    position: fixed;
    width: calc(16px * 8);
    height: calc(16px * 11);
    background: radial-gradient(transparent 15%, rgba(34, 34, 34, 0.75), transparent);
}

.creature.taunt .creature-image {
    padding-bottom: 12px;
}

.creature .stat {
    position: absolute;

    /*background: #f0f0f0;*/
    /*border: 1px solid #333;*/

    /*width: 28px;*/
    /*height: 28px;*/

    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    /*font-weight: bold;*/
    font-family: Carnevalee Freakshow, serif;
    font-size: 40px;
    color: #fff;

    text-shadow:
            2px   2px 0 rgba(0,0,0, 0.75),
            0 2px 2px rgba(0,0,0, 1);
}

.creature .stat-buffed {
    color: #2ecc71 !important;
}

.creature .stat-damaged {
    color: #ff8e81 !important;
}

.creature .attack {
    left: 2px;
    bottom: 4px;
    background-image: url("/images/attack.png");
    background-size: 48px;
    background-repeat: no-repeat;

    padding-top: 4px;
    padding-left: 2px;
}

.creature .health {
    right: 2px;
    bottom: 6px;

    height: 52px;
    width: 44px;
    background-image: url("/images/blood.png");
    background-size: 44px;
    background-repeat: no-repeat;

    padding-top: 12px;
}

.creature .armor {
    right: 2px;
    bottom: 64px;
    background-image: url("/images/shield.png");
    background-size: 48px;
    background-repeat: no-repeat;

    padding-left: 2px;
}

.creature .insensate-icon {
    filter: contrast(1.2) hue-rotate(300deg);
    top: -10px;
    right: -4px;
    font-size: 32px;
}

.creature .deathrattle-icon {
    filter: grayscale(0.7);
    top: -12px;
    font-size: 28px;
    text-shadow: 0 0 5px black, 0 0 3px black;
}

.creature .double-attack-icon {
    top: -4px;
    left: -4px;

    background-image: url("/images/double_attack.png");
    background-size: 48px;
    transform: scale(-1, 1);
}


 /* DEATH */
.creature.dying {
    animation: death-shake-fade 0.7s ease-in forwards;
}

@keyframes death-shake-fade {
    0% { filter: grayscale(50%); transform: scale(1); }
    30% { filter: grayscale(100%); transform: scale(1.1) rotate(7deg); }
    60% { filter: grayscale(100%); transform: scale(1.1) rotate(-7deg); opacity: 0.8; }
    100% { filter: grayscale(100%); transform: scale(0.8); opacity: 0; }
}

/* BUFF */
.creature.buffed .creature-image::after {
    content: '';
    position: absolute;
    top: -5px; left: -5px; right: -5px; bottom: -5px;
    border-radius: 50% / 60%;
    box-shadow: 0 0 20px 5px rgba(9, 136, 4, 0.8);
    opacity: 0;
    animation: buff-flash 1s ease-out;
}

@keyframes buff-flash {
    0% { opacity: 0; transform: scale(0.9); }
    50% { opacity: 1; transform: scale(1.1); }
    100% { opacity: 0; transform: scale(1.2); }
}

/* BATTLECRY */
.creature .ability-icon {
    filter: contrast(0.75) grayscale(.6);
    bottom: -4px;
    font-size: 28px;
    z-index: 120;
    pointer-events: none;
}

.creature.activating .ability-icon {
    animation: ability-pop 0.6s ease-out;
}

@keyframes ability-pop {
    0%   { filter: grayscale(.6); }
    20%  { filter: grayscale(.3); }
    40%  { filter: grayscale(.2); text-shadow: 0 0 5px yellow, 0 0 2px orange; }
    50%  { filter: grayscale(.1); text-shadow: 0 0 10px yellow, 0 0 5px orange; }
    60%  { filter: grayscale(.2); text-shadow: 0 0 5px yellow, 0 0 2px orange; }
    80%  { filter: grayscale(.3); }
    100% { filter: grayscale(.6); }
}