@font-face {
    font-family: Carnevalee Freakshow;
    src: url("/fonts/Carnevalee Freakshow.ttf") format("truetype");
    font-weight: normal;
}



.game-over-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    animation: fade-in 1s ease-out;
}

.game-over-card {
    background: #707378;
    background-image:
            linear-gradient(to right, #3a4c60 1px, transparent 1px),
            linear-gradient(to bottom, #3a4c60 1px, transparent 1px);
    background-size: 32px 32px;

    padding: 40px;
    border-radius: 12px;
    text-align: center;
    border: 4px solid #fff;
    min-width: 300px;
}

.game-over-card.victory {
    border-color: #f1c40f;
    box-shadow: 0 0 50px rgba(241, 196, 15, 0.3);
}

.game-over-card.defeat {
    border-color: #c0392b;
    box-shadow: 0 0 50px rgba(192, 57, 43, 0.3);
}

/*.result-title {*/
/*    font-size: 48px;*/
/*    font-weight: bold;*/
/*    color: white;*/
/*    font-family: "Carnevalee Freakshow", sans-serif;*/

/*    margin-bottom: 20px;*/
/*}*/

.result-logo {
    width: 600px;
    height: 200px;

    background-size: 600px;
}

.victory .result-title { color: #f1c40f; }
.defeat .result-title { color: #c0392b; }

.result-content {
    color: #ecf0f1;
    margin-bottom: 30px;
    font-size: 18px;
}

.button-group {
    display: flex;
    gap: 15px;
    justify-content: center;

    margin-top: 24px;
}

.btn-restart,
.btn-menu {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.btn-restart {
    background: #e74c3c;
    color: white;
    box-shadow: 0 5px 0 #c0392b;
}
.btn-menu {
    background: white;
    color: #2c3e50;
    box-shadow: 0 5px 0 #bdc3c7;
}

.btn-restart:hover { transform: translateY(-3px); box-shadow: 0 8px 0 #c0392b; }
.btn-restart:active { transform: translateY(3px); box-shadow: 0 2px 0 #c0392b; }
.btn-menu:hover { transform: translateY(-3px); box-shadow: 0 8px 0 #bdc3c7;}
.btn-menu:active { transform: translateY(3px); box-shadow: 0 2px 0 #bdc3c7; }

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}