@font-face {
    font-family: Carnevalee Freakshow;
    src: url("/fonts/Carnevalee Freakshow.ttf") format("truetype");
    font-weight: normal;
}



.game-container {
    position: relative;
    width: 100%;
    height: 100%;

    touch-action: none;
    overflow: hidden;

    border-bottom: 2px solid;
    border-top: 2px solid;
}

/* == HEADER == */

.game-header {
    position: relative;
    height: 80px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    font-family: Carnevalee Freakshow, serif;

    background-image:
            linear-gradient(to right, #dddddd 1px, transparent 1px),
            linear-gradient(to bottom, #dddddd 1px, transparent 1px);
    background-size: 32px 32px;

    border-bottom: 2px solid;

    z-index: 90;
}

.game-header button {
    justify-self: start;
    padding: 8px 16px;
    margin-left: 3vw;

    background: #c9b28a;
    border: 2px solid #5e4a2f;
    border-radius: 6px;

    font-family: inherit;
    font-size: 18px;
    cursor: pointer;

    box-shadow: 0 4px 0 #5e4a2f;
}

.game-header button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #5e4a2f;
}

/* == TURN + TIMER CONTAINER == */

.turn-timer {
    justify-self: center;

    width: 260px;
    height: 48px;

    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    align-items: center;

    background: white;
    background-image:
            linear-gradient(to right, #dddddd 1px, transparent 1px),
            linear-gradient(to bottom, #dddddd 1px, transparent 1px);
    background-size: 24px 24px;

    border: 2px solid black;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
}


.turn-timer .divider {
    width: 2px;
    height: 70%;
    background: black;
    opacity: 0.4;
}


.turn-box,
.timer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: Carnevalee Freakshow, serif;
    color: #222;
}

.turn-box .label {
    font-size: 16px;
    letter-spacing: 1px;
    opacity: 0.7;
}

.turn-box .value,
.timer-box .value {
    font-variant-numeric: tabular-nums;
}

.turn-box .value { font-size: 22px; }
.timer-box .value { font-size: 36px; }

.timer-box {
    color: #dfdfdf;
    text-shadow:
            0 1px 3px rgba(0,0,0,1),
            0 1px 3px rgba(0,0,0,1);

}

/* == BOARD FRAME == */

.bg-frame {
    --border: 2px;
    --cut: 15vh;
    --border-color: #000;
    --bg: white;

    position: relative;
    margin: 4% auto 0;
    width: 80%;
    outline: var(--border) solid var(--border-color);
    background: var(--bg);

    z-index: 80;
}

.bg-frame span {
    position: absolute;
    width: var(--cut);
    height: var(--cut);
    background: var(--bg);
    transform: rotate(45deg);

    z-index: 81;
}

.bg-frame .tl {
    top: calc(-1 * var(--cut) / 2);
    left: calc(-1 * var(--cut) / 2);
    border-right: var(--border) solid var(--border-color);
}

.bg-frame .tr {
    top: calc(-1 * var(--cut) / 2);
    right: calc(-1 * var(--cut) / 2);
    border-bottom: var(--border) solid var(--border-color);
}

.bg-frame .bl {
    bottom: calc(-1 * var(--cut) / 2);
    left: calc(-1 * var(--cut) / 2);
    border-top: var(--border) solid var(--border-color);
}

.bg-frame .br {
    bottom: calc(-1 * var(--cut) / 2);
    right: calc(-1 * var(--cut) / 2);
    border-left: var(--border) solid var(--border-color);
}

.bg-frame .tl, .tr, .bl, .br { z-index: 79 }

/* == BOARD AREAS == */

.bg-top,
.bg-bottom {
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to right, #dddddd 1px, transparent 1px);
    background-size: 48px;

    z-index: 85;
}

.bg-top {
    border-bottom: 1px solid #878787;
}

.bg-bottom {
    border-top: 1px solid #878787;
}

.bg-center {
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;

    background-image:
            linear-gradient(to right, #dddddd 1px, transparent 1px),
            linear-gradient(to bottom, #dddddd 1px, transparent 1px);
    background-size: 48px 48px;

    z-index: 85;
}

.field_enemy,
.field_user {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 85;
}

.field_enemy {
    border-bottom: 1px solid transparent;
    border-image: repeating-linear-gradient(
            to right,
            #878787 0 20px,
            transparent 20px 40px
    ) 1;
}

.field_user {
    border-top: 1px solid transparent;
    border-image: repeating-linear-gradient(
            to right,
            #878787 0 20px,
            transparent 20px 40px
    ) 1;

    padding-bottom: 20px;
}

.board-row {
    gap: 16px;
}

/* == SIDE BUTTON == */

.side-button.diamond {
    position: absolute;
    right: -33px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);

    width: 64px;
    height: 64px;

    background: #fff;
    border: 2px dashed #000;
    cursor: pointer;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35),
                0px 7px 13px -3px rgba(0, 0, 0, 0.25),
          inset 0px -3px 0px rgba(255,255,255,0.25);

    transition: box-shadow 0.15s ease, transform 0.15s ease;

    z-index: 95;
}

/*.side-button.diamond:hover {*/
/*    transform: translateY(-50%) rotate(45deg) scale(1.1);*/
/*}*/

.side-button.diamond.disabled {
    filter: grayscale(1);
    cursor: not-allowed;
    pointer-events: none;

    box-shadow: inset 0px 3px 7px rgba(0,0,0,0.35) !important;
}

.side-button.diamond.yellow {
    background: #d6b400;
    border: 2px dashed #000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35),
                0px 7px 13px -3px rgba(0, 0, 0, 0.25),
          inset 0px -3px 0px rgba(255,255,255,0.25);
}

.side-button.diamond.yellow:hover {
    filter: brightness(1.1);
}

.side-button.diamond.yellow:active {
    filter: brightness(0.9);
    transform: translateY(-50%) rotate(45deg) translateY(2px);
    box-shadow: inset 0px 3px 7px rgba(0,0,0,0.35);
}

.side-button.diamond.green {
    background: #2ecc71;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35),
                0px 7px 13px -3px rgba(0, 0, 0, 0.25),
          inset 0px -3px 0px rgba(255,255,255,0.25);

    animation: pulse 1.2s infinite ease-in-out;
}

.side-button.diamond.green:hover {
    filter: brightness(1.15);
}

.side-button.diamond.green:active {
    filter: brightness(0.9);
    transform: translateY(-50%) rotate(45deg) translateY(2px);
    box-shadow: inset 0px 3px 7px rgba(0,0,0,0.35) !important;
}

@keyframes pulse {
    0%   { box-shadow: 0 0 15px rgba(46,204,113,0.6); }
    50%  { box-shadow: 0 0 30px rgba(46,204,113,1); }
    100% { box-shadow: 0 0 15px rgba(46,204,113,0.6); }
}

.side-button.diamond p {
    transform: rotate(-45deg);
    font-weight: bold;
    font-size: 16px;
    color: #000;

    text-shadow:
            1px   1px 0 rgba(0,0,0, 0.25),
            0 1px 2px rgba(0,0,0, 0.5);
}

/* == LEFT DECOR == */

.side-thing.diamond {
    position: absolute;
    left: -33px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);

    width: 64px;
    height: 64px;

    background: var(--bg);
    border-right: 2px solid #000;
    border-top: 2px solid #000;

    z-index: 95;
}

/* == HAND == */

.player-hand-container {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    z-index: 99;
    pointer-events: none;

    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.hand-cards {
    display: flex;
    justify-content: center;
    gap: 14px;

    pointer-events: auto;

    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}

.hand-cards.hand-dimmed {
    transform: translateY(64px);
    opacity: 0.3;
    filter: grayscale(100%);
    pointer-events: none;
}

.money-display {
    position: absolute;
    left: 20px;
    bottom: 140px;

    z-index: 99;

    width: 90px;
    height: 48px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

    padding: 0 10px;

    font-family: Carnevalee Freakshow, serif;
    font-size: 32px;
    color: #2b1e0f;

    background: #c9b28a;
    border: 2px solid #5e4a2f;
    border-radius: 6px;

    box-shadow:
            0 4px 0 #5e4a2f,
            0 0 12px rgba(0, 0, 0, 0.3);

    overflow: hidden
}

.money-icon {
    justify-self: center;

    width: 32px;
    height: 32px;

    background-image: url("/images/money.png");
    background-size: 32px;
    background-repeat: repeat-y;

    display: inline-block;
    transition: filter 0.3s;

    filter: brightness(1.2);
}

.money-value {
    text-align: right;
    padding-right: 6px;

    font-variant-numeric: tabular-nums;
    transition: color 0.3s ease;
}

.money-display.anim-gain .money-icon {
    animation: coin-scroll-up 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
    filter: brightness(1.3);
}

.money-display.anim-gain .money-value {
    color: #2ecc71;
}

@keyframes coin-scroll-up {
    0% { background-position-y: 0px; }
    100% { background-position-y: -32px; }
}

.money-display.anim-spend .money-icon {
    animation: coin-scroll-down 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
    filter: brightness(0.8);
}

.money-display.anim-spend .money-value {
    color: #e74c3c;
}

@keyframes coin-scroll-down {
    0% { background-position-y: 0px; }
    100% { background-position-y: 32px; }
}

 /*== technical shit ==*/
.attacking-cursor {
    cursor: crosshair !important;
}

.attacking-cursor * {
    cursor: crosshair !important;
}

.attack-circle {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("/images/arrowcircle.png");
    background-size: cover;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1500;
}

.interactionLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    touch-action: none;
}

.slot-active-creature .creature {
    box-shadow: 0 0 15px rgba(46, 204, 113, 0.6);
    animation: pulse-green-glow 2s infinite;
    cursor: pointer;
}

@keyframes pulse-green-glow {
    0% { box-shadow: 0 0 10px rgba(46, 204, 113, 0.4); }
    50% { box-shadow: 0 0 25px rgba(46, 204, 113, 0.8); }
    100% { box-shadow: 0 0 10px rgba(46, 204, 113, 0.4); }
}


/* targeting different shit */
.board-slot:hover [data-slot-type="enemy"] .creature {
    box-shadow: 0 0 20px rgba(255, 87, 0, 1),
                0 0 10px rgba(255, 87, 0, .75)!important;
}

/*!* СТАТИЧНА ЧЕРВОНА (коли тягнемо стрілку) - можна додати через JS клас на контейнер *!*/
/*.game-container.attacking-cursor [data-slot-type="enemy"] .creature {*/
/*    box-shadow: 0 0 10px rgba(231, 76, 60, 0.4);*/
/*    animation: pulse-red-target 1s infinite;*/
/*}*/

/*@keyframes pulse-red-target {*/
/*    0% { box-shadow: 0 0 10px rgba(231, 76, 60, 0.4); }*/
/*    50% { box-shadow: 0 0 20px rgba(231, 76, 60, 0.7); }*/
/*    100% { box-shadow: 0 0 10px rgba(231, 76, 60, 0.4); }*/
/*}*/


.highlight-target .creature {
    box-shadow: 0 0 20px rgba(231, 76, 60, 0.9);
    animation: pulse-red-target 0.8s infinite alternate;
    z-index: 120;
}

.dimmed-target .creature {
    filter: grayscale(80%) brightness(0.5);
    opacity: 0.9;
}

@keyframes pulse-red-target {
    from { box-shadow: 0 0 10px rgba(231, 76, 60, 0.6); transform: scale(1); }
    to { box-shadow: 0 0 25px rgba(231, 76, 60, 1); transform: scale(1.02); }
}