.drop-zone {
    min-width: 100%;
    min-height: 50%;
    position: relative;

    border-top: 1px solid transparent;
    border-image: repeating-linear-gradient(
            to right,
           #878787 0 20px,
            transparent 20px 40px
    ) 1;

    display: flex;
    align-items: center;

    pointer-events: all;
}

.drop-zone.over {
    /*outline: 2px dashed #ffd700;*/
    background: rgba(255, 215, 0, 0.15);
}

.drop-zone.disabled {
    opacity: 0.6;
}
