.creatures-row {
    height: 100%;
    /*max-width: 900px;*/
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    padding: 10px;
    box-sizing: border-box;

    overflow: hidden;
}
