.phase-banner-overlay {
    position: fixed;
    inset: 0;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.phase-banner-text {
    position: relative;

    aspect-ratio: 3 / 1;
    width: min(80vw, 600px);
    font-size: 48px;
    font-weight: bold;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    /*background: rgba(0, 0, 0, 0.85);*/
    /*border-radius: 12px;*/

    background-image: url("/images/phase_banner.png");
    background-size: 600px;
    background-position: center;

    animation: phaseBannerInOut 1.2s ease-in-out forwards;
}

@keyframes phaseBannerInOut {
    0% {
        transform: scale(0.05);
        opacity: 0;
    }

    15% {
        transform: scale(1);
        opacity: 1;
    }

    70% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.05);
        opacity: 0;
    }
}
