.level-selector-container {
    display: flex;
    width: 100%;
    height: 100%;
    color: #ecf0f1;
    overflow: hidden; /* Важливо, щоб скрол був всередині колонок */
}

/* ЛІВА ЧАСТИНА */
.ls-sidebar {
    width: 35%;
    min-width: 200px; /* Мінімальна ширина, щоб не зникло */
    background: #233040;
    overflow-y: auto; /* ВКЛЮЧАЄМО СКРОЛ */
    border-right: 1px solid #7f8c8d;
}

.ls-item {
    padding: 20px;
    border-bottom: 1px solid #34495e;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ls-item:hover { background: #2c3e50; }
.ls-item.active { background: #34495e; border-left: 5px solid #f1c40f; }
.ls-item.locked { color: #7f8c8d; cursor: not-allowed; }

.ls-name { font-weight: bold; font-size: 1.1rem; }
.ls-check { color: #27ae60; font-weight: bold; }

/* ПРАВА ЧАСТИНА */
.ls-details {
    width: 65%;
    display: flex;
    flex-direction: column;
    background: #2c3e50;
    /* Можна додати легкий патерн на фон */
    height: 100%;
    overflow: hidden; /* Щоб кнопка "Play" могла бути прибита до низу */
}

.ls-scroll-content {
    padding: 30px;
    overflow-y: auto;
    flex: 1;

    scrollbar-color: #34495e #233040;
    scrollbar-width: thin;
}

.ls-footer {
    padding: 20px 30px;
    border-top: 1px solid #34495e;
    background: #2c3e50;
    z-index: 2;
}

.ls-title { font-size: 2.5rem; margin-bottom: 10px; color: #f1c40f; font-family: 'Impact', sans-serif; }
.ls-desc { font-size: 1.2rem; color: #bdc3c7; margin-bottom: 20px; line-height: 1.5; }
.ls-reward { font-size: 1.2rem; color: #f39c12; display: flex; align-items: center; gap: 5px; }

/* РОЗДІЛЮВАЧ */
.ls-divider {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 40px auto;
}
.ls-divider-line { flex: 1; height: 2px; background: linear-gradient(90deg, transparent, #7f8c8d, transparent); }
.ls-divider-icon { padding: 0 10px; font-size: 1.5rem; color: #7f8c8d; }

/* СТАТИСТИКА */
.stats-grid { display: flex; flex-direction: column; gap: 15px; margin-bottom: 40px; }
.stat-row { display: flex; justify-content: space-between; font-size: 1.2rem; border-bottom: 1px dashed #34495e; padding-bottom: 5px;}
.stat-label { color: #95a5a6; }
.stat-value { font-weight: bold; }
.stat-value.green { color: #2ecc71; }
.stat-value.grey { color: #95a5a6; }

.btn-play-level {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #e74c3c;
    color: white;
    box-shadow: 0 5px 0 #c0392b;
    transition: 0.2s;
}
.btn-play-level:hover:not(:disabled) { transform: translateY(-2px); box-shadow: 0 7px 0 #c0392b; }
.btn-play-level:active:not(:disabled) { transform: translateY(2px); box-shadow: 0 2px 0 #c0392b; }
.btn-play-level:disabled { background: #7f8c8d; box-shadow: none; cursor: not-allowed; opacity: 0.5; }