@font-face {
    font-family: Carnevalee Freakshow;
    src: url("/fonts/Carnevalee Freakshow.ttf") format("truetype");
    font-weight: normal;
}

.damage-indicator {
    width: 92px;
    height: 92px;

    position: absolute;
    /*left: 300px;*/
    /*top: 300px;*/
    pointer-events: none;

    z-index: 1750;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Carnevalee Freakshow, serif;
    font-size: 64px;
    color: #fff;

    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;

    /*-webkit-text-stroke: 2px #252525;*/

    transform-origin: center;
    animation: damage-pop 2000ms ease-out forwards;

    background-image: url("/images/damage_marker.png");
    background-size: 92px;
}

@keyframes damage-pop {
    0% {
        opacity: 0;
        transform: scale(2.2);
    }

    5% {
        opacity: 1;
        transform: scale(1);
    }

    8% {
        transform: scale(0.9);
    }

    11% {
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}
