.slot-outer {
    position: relative;
    width: calc(16px * 8);
    height: calc(16px * 11);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: box-shadow 300ms, background 300ms;
}

.slot-outer.over {
    border-radius: 12px;
    background: radial-gradient(circle,
        rgba(255,255,0,0) 40%,
        rgba(255,215,0,0.25) 100%
    );

    animation: slotPulse 1.6s infinite ease-in-out;
}

@keyframes slotPulse {
    0% { box-shadow: 0 0 12px rgba(255, 215, 0, 0.4); }
    50% { box-shadow: 0 0 26px rgba(255, 215, 0, 1); }
    100% { box-shadow: 0 0 12px rgba(255, 215, 0, 0.4); }
}
